
body {
  font-family: "montserrat";
}





h1, h2, h3, h4, h5, h6 {
    font-family: "montserrat-bold";
    
}
  p {
       color: #8f8f8f;
   }

/*containers*/
.container-fluid {
    padding:3% 15%  3% ;
}

/*sections*/
.colored-section {
background-color: #ff4c68;
color: #fff;
}

.white-section {
background-color: #fff;
}


/*headings*/
.big-heading {
    font-family: "anton";
    font-size: 4.5rem;
    line-height: 1.5;
    color: #fff;
    font-weight: bold;
}

/*navigation bar*/


.navbar {
    padding: 0 0 4.5rem;

}


.navbar-brand {
    font-family: "ubunt";
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-item {
    padding: 0 18px;
}


.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat-light";
    
}



/*download-buttons*/

.download-button {
    margin: 5% 3% 5% 0;
}


/*title image*/

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 57%;
    width: 20%;
}

/*title section*/
#title {
    background-color:#fe3c72; 
  padding-bottom: 8%;
  padding-left: 1%;
    
}

#title .container-fluid {

    padding: 3% 15% 7%;
}

/*features-section*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
    
}


.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}


.easy {
    text-align: center;
    padding: 5%;
}


.icon {
margin-bottom: 1rem;
color: #ef8172;
}



.icon:hover {
    color: #ff4c68;
}



/*testimonial dextion*/


#itay {
    padding: 7% 15% ;
    text-align: center;
   
    background-color:#ff4c68 ;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius:100% ;
    margin: 20px;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#press {
  
    background-color:#ff4c68 ;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


#pricing {
    padding: 25px;
   text-align: center;
}
@media (max-width:1028px)  {
    #title {
        text-align:center ;
    }
    .title-image {
           position: static;
          width: 60%;
          transform: rotate(0);
          
       }
   }





.fa-brands {
    margin-right: 7px;
}
.card-body {
    height: 400px;
}


.pricing {
    margin: 0 10px;
}



/*cta*/
#cta {
    padding-top:150px ;
    text-align: center;
   margin-top: 100px;
   padding:7% 15% ;
    background-color:#ff4c68 ;
   padding-bottom: 100px;
   
   
}
.ending {
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5 ;
    font-weight: "montserrat-black";
   }
 
 /*footer*/
 
 #footer {
    text-align: center;
    margin-top: 30px;
   
    padding-bottom: 20px;
}


.hi{
    color: black;
}